
@font-face{
    font-family: Open-Sans;
    src: url(https://fonts.google.com/specimen/Open+Sans);
  }


.container {
    background-color: lightgrey;
    width: 90%;
}

.left-half{
    background-color: lightgrey;
      flex: 1;
      padding: 1rem;
      justify-content: flex-start;
      margin-top: 6.8%;
    }

.teacherOptions {
    background-color: white;
    width: 40%;
    margin-left: 40%;
    align-items: center;
    height: 400px;
    margin-top: 10px;
    padding-top: 50px;
    border-radius: 8px;
}

.button10, .button11, .button12 {
    width: 45%;
    align-self:center;
    font-size: 11px;
    padding: 5px 10px;
    border-radius: 8px;
    color: cyan;
    background-color: white;
    border-color: cyan;
    border-width: 2px;
    font-weight: 700;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.teacherProfile {
    width: 150px;
    border-radius: 10px;
    padding-bottom: 20px;
    margin: auto;
    justify-content: flex-start;
    }


.right-half{
    background-color: lightgrey;
    flex: 1;
    padding: 1rem;
    width: 5%;
    justify-content: flex-start;
}


.GREY {
    background-color: white;
    border-radius: 8px;
    width: 80%;
    border-color: darkgrey;
    margin-top: 100px;
    justify-content: flex-start;
    }

.teacherName {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 25px;
    justify-content: flex-start;  
}

.teacherInformationInput {
  padding-left: 20px;
  background-color: white;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 40px;
  border-radius: 8px;
  padding-bottom: 100px;
  font-family: sans-serif;
  justify-self: flex-start;
}

 .item1, .item3, .item5, .item7, .item9 {
     background-color: white;
     font-weight: 700;}

.buttonsHere {
  display: inline-block;
  background-color:lightgrey;
  margin-bottom: 70px;
  margin-top: 80px;
  width: 100%;
  align-self: right;}

.button6 {
    background-color: orange;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    border-style: solid;
    border-width: 3px;
    border-color: orange;
    text-align: center;
    padding: 5px 20px;
    width: 30%;
    font-size: 11px;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .button7 {
  border-radius: 8px;
  background-color: deeppink; 
  border: solid;
  border-color: deeppink;
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  padding: 5px 20px;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
  }



.footer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    width: 90%;
    height: 200%;
    margin-right: auto;
    font: calc(5px+25vmin);
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0mm;
    padding-top: 100px;
    padding-right: 0mm;
    color: gray;
    background-color: lightblue;
  }
  
  
  .one {
      list-style-type: none;
      justify-content: flex-start;
      text-align: left;
      margin-left: 100px;
      font-size: 10px;
      line-height: 2em;
  }
  
  .two {
      list-style-type: none;
      justify-content: flex-start;
      text-align: left;
      font-size: 10px;
      margin-left: 80px;
      line-height: 2em;
      
  }
  
  .three {
      list-style-type: none;
      justify-content: flex-start;
      text-align: left;
      font-size: 10px;
      margin-left: 40px;
      line-height: 2em;
  }
  
  .four {
      list-style-type: none;
      justify-content: flex-start;
      text-align: left;
      font-size: 10px;
      line-height: 2em;
      margin-right: 0;
  }
  
  .five{
   list-style-type: none;
   justify-content: flex-start;
   text-align: left;
   margin-right: 200px;
   font-size: 10px;
   margin-left: 0px;
   line-height: 2em;
  }
  
  